.center {
  text-align: center;
  color: indigo;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.container button {
  /* height: 30px; */
  border-radius: 5px;
  font-size: 1.2rem;
  /* flex-basis: 25%; */
  border: 1px solid gold;
  padding: 10px;
  margin: 30px;
}

.container button:hover {
  cursor: pointer;
  background-color: goldenrod;
}